<template>
    <div id="app-wrapper">
        <router-view />
    </div>
</template>

<script>
    /**
     *  IMPORT LIBRARIES
     */
    // font awesome
    import "font-awesome/scss/font-awesome.scss";
    // animate
    import "animate.css/animate.min.css";
    // bootstrap
    import "bootstrap/dist/css/bootstrap.min.css";
    import "bootstrap/dist/js/bootstrap.min.js";
    // pretty checkbox
    import "pretty-checkbox/src/pretty.scss";

    /**
     *  IMPORT STYLESHEETS
     */
    import "@/static/stylesheets/style.scss";


    export default {}
</script>
